.App {
  text-align: center;
}

.card-body {
  transition: transform 0.3s ease-in-out;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
}

.card-title {
  margin-bottom: 15px;
  color: #007bff;
}

.card-text {
  font-size: 0.9rem;
  margin: 5px 0;
}

.card-footer {
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
}
